.card {
  background: #fff;
  padding: 10px 0;
}

.thumbCard {
  background: #fff;
  padding: 10px 0;
}

.bannerCard {
  background: #fff;
  height: 7rem;
  overflow: hidden;
}

.title {
  color: white;
  position: absolute;
}
